* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    height: 100vh;
    font-size: 14px;

}

body {
    background-color: #282828;
    height: 100%;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    max-width: 150px;
    margin-bottom: 20px;
}

.container {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;

}

a{
    text-decoration: none;
    color:white;
}

.degrade{
    background: linear-gradient(to right bottom, #fe4701, #ff0054 );
}

header {
    text-align: center;
    margin-bottom: 40px;

}

header h1{
    font-size: 2em;
    margin-bottom: 10px;
    color: #5e5e5e;
    font-weight: 300;
}

.botoes-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a.link button{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    transition: .2s;
}

a.link i{
    font-size: 1.5em;
}

a.link button:hover{
    transform: scale(1.05);
}

footer{
    text-align: center;
    margin: 30px;
    transition: .2s;

}

footer a.btn-footer {
   width: 60px;
   height: 60px;
   display: inline-block;
   font-size: 2em;
   line-height: 60px;
   border-radius: 50%;
   margin: 0 10px ;
}

footer a.btn-footer:hover{
    transform: scale(1.05);
}